<div id="navigation" style="width: 1200px; float:left; height:50px; background:red; margin:10px" >
      <ul style= "list-style-type: none;margin: 5; padding:50;">
         <button id="csk" style ="display:inline; text-decoration:underline" routerLink="/teamcsk" routerLinkActive="active"> Chennai Super Kings</button>
         <button id="mi" style ="display:inline; text-decoration:underline;">Mumbai Indians</button>
         <button id="kxip" style ="display:inline; text-decoration:underline;" routerLink="/teamkxip" routerLinkActive="active">Kings XI Punjab</button>
         <button style ="display:inline; text-decoration:underline;">Sunrisers Hyderabad Punjab</button>
         <button style ="display:inline; text-decoration:underline;">Kolkata Knight Riders</button>
         <button style ="display:inline; text-decoration:underline;">Rajastan Royals</button>
         <button style ="display:inline; text-decoration:underline;">Royal Challengers Bangalore</button>
         <button style ="display:inline; text-decoration:underline;">Delhi Capitals</button>
      </ul>

      <router-outlet></router-outlet>
      
   </div>
<!-- The routed views render in the <router-outlet>-->
