<div id="logo" style="width: 1200px; float:left; height:600px; background:blue; margin:10px">

      <LABEL id="name" style="margin:150px 150px; font-size:50px">Kings XI Punjab</LABEL>
      <img id="logoimg" src="assets/images/kxiplogo.png" alt="KXIP" height=100 width =100 style="vertical-align:middle;margin:60px 150px" >

      <ol style="list-style-type: none; margin: 50px;padding:50;">
         <label id="tn" style="font-size:30px">Team Name: Kings XI Punjab</label>
         <br>
         <label id="tc" style="font-size:30px">Team Captain : KL Rahul</label>
         <br>
         <label id="tco" style="font-size:30px">Coach : Anil Kumble</label>
         <br>
         <label id="t" style="font-size:30px">Titles : 2020 Champions </label>
         <br>
      </ol>

   </div>

<router-outlet></router-outlet>
